html,
body {
  height: 100%;
  color: #eee;
  background-color: #141414;
  h1,
  h2,
  h3,
  h4 {
    font-family: "Lato";
  }
  p,
  a {
    font-family: "open-sans";
  }
}

a {
  text-decoration: none;
}

.utterances {
  margin-top: -50px;
}
